# User-specific files
*.suo
*.user

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/

# Ignore AppPackages
EchoInstaller/AppPackages*

# Unignore Publish script
!/EchoInstaller/AppPackages/publish.ps1

Package.StoreAssociation.xml

BundleArtifacts/
*.pfx

# Visual Studio cache/options directory
.vs/

# Rider User Configuration Files
.idea/
